<%= form_for @document do |f| %>
  <div class="flex-container flex-row-wrap flex-space-between">
    <div class="width-md-30 label-text">
      <%= f.label :name %>
    </div>

    <div class="width-md-65">
      <%= f.text_field :name, class: "form-control"%>
    </div> 

    <div class="width-md-30 label-text">
      <%= f.label :text %>
    </div>

    <div class="width-md-65">
      <%= f.text_field :text, class: "form-control"%>
    </div>

    <div class="width-md-30 label-text">
      <%= f.label :image %>
    </div>

    <div class="width-md-65">
      <label class="full-width">
        <%= f.file_field :image, class: "upload form-control" %>
        <div class="btn btn-block btn-default">
          <i class="fa fa-video-camera"></i>
          <%= t("documents.index.upload_image") %>
        </div>
      </label>
    </div>

    <div class="width-md-30 label-text">
      <%= f.label :video %>
    </div>

    <div class="width-md-65">
      <label class="full-width">
        <%= f.file_field :video, class: "upload" %>
        <div class="btn btn-block btn-default">
          <i class="fa fa-file-video-o"></i>
          <%= t("documents.index.upload_video") %> 
        </div>
      </label>
    </div>

    <div class="width-md-30 label-text">
      <%= f.label :link_text %>
    </div>

    <div class="width-md-65">
      <%= f.text_field :link_text, class: "form-control"%>
    </div>

    <div class="width-md-30 label-text">
      <%= f.label :link_image %>
    </div>

    <div class="width-md-65">
      <%= f.text_field :link_image, class: "form-control"%>
    </div>

    <div class="width-md-30 label-text">
      <%= f.label :link_video %>
    </div>

    <div class="width-md-65">
      <%= f.text_field :link_video, class: "form-control"%>
    </div>

    <div class="width-md-45">
      <%= f.submit t("button.create"), class: "btn btn-block btn-success" %>
    </div>

    <div class="width-md-45">
      <div class="btn btn-block btn-default" id="button-hide"><%= t("button.hide") %></div>
    </div>
  </div>
<% end %>
