<div class="flex-container flex-space-around flex-row-wrap">
  <div class="width-md-100">
    <div id="button-show" class="button-show btn-default">
      <%= t("documents.index.add_document") %>
    </div>

    <div id="form" class="form-new hidden">
      <%= render "documents/new" %>
    </div>
  </div>

  <div class="width-md-100">
    <% @documents.each do |document| %>
      <div class="document-info">
        <%= image_tag "logo.png" %>
        <%= link_to document.name, document, class: "author" %>
        <div class="metadata"><%= document.created_at %></div>
        <div class="text"><%= document.text %></div>
        <div class="image"><%= image_tag document.image.small.url %></div>
        <div class="text"><%= document.link_text %></div>
        <div class="text"><%= document.link_image %></div>
        <div class="text"><%= document.link_video %></div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">  
  $("#button-show").click(function() {
    $("#form").removeClass("hidden").fadeIn(500);
  });

  $("#button-hide").click(function(){
    $("#form").fadeOut(500);
  });
</script>
